.app{
  display: flex;
  height: 100vh;
  width: 100%;
  gap: 8px;
}
.app-left{
   width: 18%;
}
.app-right{
  flex: 1;
  padding: 10px 15px;
  max-width: 82%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
@media (max-width: 490px) {
  .app-left{
    display: none
  }
  .app-right{
    margin: auto;
  }
}